@model List<My_Portfolio.DAL.Entities.Skill>
<div class="col-six tab-full right">
    <h3>Yeteneklerime bak.</h3>

    <ul class="skill-bars">

        @foreach(var item in Model)
        {
                  
        <li>
            <div class="progress percent90"><span>@item.Value%</span></div>
            <stron>@item.Title</stron>
        </li>
        }
     
    </ul>
</div>
